$color-text: #000;
$color-text-secondary: #666;
$color-mark: yellow;
$color-label: #ddd;

$article-content-width: 40rem;
$article-vertical-rhythm: 1.5;

$sidenote-spacing: 0.6em;
$sidenote-color: $color-text-secondary !default;

$footnote-font-size: 0.8rem;
$footnote-line-height: 2/3 * $article-vertical-rhythm * 1rem;

@function r($n) {
  @return $n * $article-vertical-rhythm * 1rem;
}
