@include wide {
  article {
    display: grid;
    grid-template-columns: 1fr 3fr;

    max-width: 76rem;
    margin-left: auto;
    margin-right: auto;

    > header {
      grid-column-start: 1;
      grid-column-end: 3;

      margin-left: auto;
      margin-right: auto;
    }

    > nav {
      max-width: 18em;
      margin-right: 0.5rem;
    }

    .content {
      margin-left: 0.5rem;
    }

    > header,
    > .content {
      max-width: $article-content-width;
    }
  }
}
