article {
  @include serif;
  font-size: 1rem;
  line-height: r(1);
  color: #222;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &.debug {
    background: linear-gradient(
      to bottom,
      rgb(216, 233, 252),
      rgb(216, 233, 252) 50%,
      rgb(147, 198, 255) 50%,
      rgb(147, 198, 255)
    );
    background-size: 100% r(1);
  }

  a {
    color: $color-text-secondary;
    text-decoration: underline;

    &:hover {
      color: $color-text;
      background-color: $color-mark;
    }
  }

  p,
  ul,
  ol,
  pre,
  blockquote {
    margin-bottom: r(1/2);
  }

  ul,
  ol {
    ul,
    ol {
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    @include slab;
    font-weight: bold;
  }

  h1 {
    font-size: 1.8rem;
    line-height: r(2);
  }

  h2 {
    font-size: 1.4rem;
    line-height: r(3/2);
    padding-top: r(1/2);
  }

  h3 {
    font-size: 1.2rem;
    line-height: r(3/2);
    padding-top: r(1/2);
  }

  h4 {
    font-size: 1rem;
    line-height: r(1);
    padding-top: r(1/2);
  }

  pre,
  code {
    @include monospace;
  }

  p code,
  pre {
    font-size: 0.85em;
  }

  > header {
    margin-bottom: r(1);

    @include below-wide {
      padding: r(1/2) 1rem;

      p {
        max-width: 32em;
      }
    }

    .meta {
      @include sans;
      margin-bottom: 0;
    }
  }

  > .content {
    @include below-wide {
      padding: r(1/2);
    }
  }

  blockquote {
    border-left: 5px solid #eee;
    margin: r(1/2) 0;
    padding: 0 1em;

    footer {
      margin-left: 1em;
      color: #444;
    }
  }

  pre {
    padding: r(1/4);
  }

  // some good typography choices
  .footnote-ref {
    @include sans;
    // disable onum (Oldstyle Figures)
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
      "onum" 0, "lnum" 0, "dlig" 0, "sups" 0;
    display: inline-block;
    position: relative;
    margin-top: -0.2em;

    a {
      text-decoration: none;
    }
  }
}
