{% extends "_base.html" %}

{% block body_class %}page-index{% endblock body_class %}

{% block main %}
<main>
  <header class="is-index">
    <h1 class="site-title"><a href="{{ config.base_url | safe }}">{{ config.title }}</a></h1>
    <p class="site-tagline">{{ config.description }}</p>
  </header>
  
  <ol class="posts">
  {% set blog = get_section(path="blog/_index.md") %}
  {% for page in blog.pages %}
  {% set style = page.taxonomies.style | first %}
    <li class="post is-{{style}}">
      <a href="{{ page.permalink | safe }}">
        <span class="label label-style">{{style}}</span>
        <span class="title">{{ page.title }}</span>
        <time class="published-at" datetime="{{ page.date | date(format="%+") }}">
          {{ page.date | date(format="%Y-%m-%d") }}
        </time>
      </a>
    </li>
  {% endfor %}
  </ol>
</main>
{% endblock main %}
